
/* Color Palette */

:root {
    --main-color-body: rgb(231, 231, 231); /* Green */
    --main-color-bg-todo-list: rgb(255, 255, 255); /* Dark Green */
    --main-color-task_4-img: #f994373d;
    --main-color-task_4-bg: #e98e38;
    --main-color-task_5-img: #306FCC;
    --main-color-task_5-bg: #61bbfc4e;
    --main-color-task_6-img: #33ce30;
    --main-color-task_6-bg: #a2e8a26c; 
}

/* Color Palette */

/* Stylist for All */

*{
    box-sizing: border-box;
}

/* Stylist for All */

/* Stylist for body element */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    overflow: scroll;
}

/* Stylist for body element */

/* Stylist main content wihout list wrap*/

.main_content {
    width: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: -1px 4px 28px 6px rgba(0,0,0,0.201);
}

._container_todo_list {
    margin: 20px 35px 20px 35px;
}

.header>p {
    margin-top: -25px;
    font-size: 1rem;
    color: gray;
}

.list_wrap {
    position: relative;
}

.header>h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.section_title>p {
    margin-top: -10px;
    width: 100%;
    height: 1px;
    background-color: gray;
}

.section_title > h2 {
    font-size: 1.2rem;
    color: gray;
}

/* Stylist main content wihout list wrap*/

/* Stylist for list wrap */


.action_ {
    display: flex;
    background-color: rgba(125, 125, 125, 0.263);
    border-radius: 15px;
    position: relative;
    margin-top: 7px;
}

/* Stylist for list wrap */

/* Stylist Action 1 */

.task_1 {
    margin-left: 50px;
}

.sqrt-bg_1 {
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 15px;
    width: 15px;
    border-radius: 18%;
    background-color: rgb(195, 195, 195);
}

img {
    height: 13px;
    width: 13px;
}

.sqrt-bg_1:hover {
    background-color:rgb(125, 125, 125);
    cursor: pointer;
}

/* Stylist Action 1 */

/* Stylist Action 2 */

._two {
    position: relative;
}

.task_2 {
    margin-left: 50px;
}

.sqrt-bg_2 {
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 15px;
    width: 15px;
    border-radius: 18%;
    background-color: rgb(195, 195, 195)
}

.sqrt-bg_2:hover {
    background-color:rgb(125, 125, 125);
    cursor: pointer;
}

._two > .mark {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 15px;
    left: 270px;
}

@media screen and (min-width: 400px) {
    ._two > .mark {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 15px;
        left: 270px;
    }
}

@media screen and (max-width: 700px) {
    ._two > .mark {
        position: absolute;
        height: 20px;
        width: 20px;
        top: 15px;
        left: 240px;
    }
}



/* Stylist Action 2 */

/* Stylist Action 3 */

.task_3 {
    margin-left: 90px;
}

.sqrt-bg_3 {
    position: absolute;
    display: flex;
    top: 10px;
    left: 50px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 15px;
    width: 15px;
    border-radius: 18%;
    background-color: rgb(195, 195, 195);
}

.sqrt-bg_3:hover {
    background-color:rgb(125, 125, 125);
    cursor: pointer;
}

/* Stylist Action 3 */

/* Stylist Action 4 */

.task_4 {
    margin-left: 50px;
    color: #6c3f15;
}

.sqrt-bg_4 {
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 18px;
    width: 18px;
    border-radius: 18%;
    background-color: var(--main-color-task_4-bg);
}

.loading {
    height: 16px;
    width: 16px;
    transform: rotate(155deg);
}

._four {
    background-color: var(--main-color-task_4-img);
}


/* Stylist Action 4 */

/* Stylist Action 5 */

.task_5 {
    margin-left: 50px;
    color: #0d4f8c;
}

.sqrt-bg_5 {
    position: absolute;
    display: flex;
    top: 20px;
    left: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 18px;
    width: 18px;
    border-radius: 18%;
    background-color: var(--main-color-task_5-img);
}

._five {
    background-color: var(--main-color-task_5-bg);
}

.check {
    height: 20px;
    width: 20px;
}

/* Stylist Action 5 */

/* Stylist Action 6 */

._six {
    background-color: var(--main-color-task_6-bg);
}

.task_6 {
    margin-left: 50px;
    color: #2b5c2b;
}

.sqrt-bg_6 {
    position: absolute;
    display: flex;
    top: 10px;
    left: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 18px;
    width: 18px;
    border-radius: 18%;
    background-color: var(--main-color-task_6-img);
}

/* Stylist Action 6 */

